<br />
<div class="row"> 
<div class="large-4 small-12 columns">

<img src="../assets/bid-logo.png">
<h2>Winning Bids</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Auction uniq</th>
  </tr>
<% @bids.each do |b| %>
  <tr>
    <td><%= b.name %></td>
    <td><%= b.price %></td>
    <td><%= b.auction_uniq_id %></td>
    <td><%= link_to 'Show', b %></td>
    <td><%= link_to 'Edit', edit_bid_path(b) %></td>
    <td><%= link_to 'Destroy', b, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Bid', new_bid_path %>


<div class="hide-for-small panel">
<h3>Deal of the Day!</h3>
<h5 class="subheader">comming soon</h5>
</div><a href="#">
<div class="panel callout radius">
<h6>00&nbsp; items in your cart</h6>
</div></a>
</div> 


<div class="large-12 columns">
<div class="row">

<div class="large-4 small-6 columns">
<img src="../assets/camera.jpeg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>FujiFilm Camera</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $550</h6>
<h6 class="subheader">Reserve Price: $699</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/macbook.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>MacBook Pro 15"</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $1350</h6>
<h6 class="subheader">Reserve Price: $1699</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/bowl.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Salad-Bowl</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $5.50</h6>
<h6 class="subheader">Reserve Price: $15</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/map.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>LA Map</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $2.0</h6>
<h6 class="subheader">Reserve Price: $9.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/bowl.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Wooden-Salad-Bowl</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $4.50</h6>
<h6 class="subheader">Reserve Price: $9.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/camera.jpeg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Canon Camera</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $350</h6>
<h6 class="subheader">Reserve Price: $599</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/macbook.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>MacBook Pro 13"</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $750</h6>
<h6 class="subheader">Reserve Price: $1299.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/map.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>SanFrancisco Map</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $5.0</h6>
<h6 class="subheader">Reserve Price: $14.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/coffee-cup.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>coffee-cup</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $12.99</h6>
<h6 class="subheader">Reserve Price: $15.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/ship.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Flagship Niagara</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $49,999</h6>
<h6 class="subheader">Reserve Price: $99999.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/coffee-cup.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>coffee-cup</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $8.00</h6>
<h6 class="subheader">Reserve Price: $15.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/range.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Range Rover</h5><%= link_to 'Bid Now', new_bid_path %>
<h6 class="subheader">Current Bid: $32,500.00</h6>
<h6 class="subheader">Reserve Price: $38.990.00</h6>
</div>
</div>
</div>
</div>
 

</div>


<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
</body>