   <div class="row">
          <div class="medium- medium-6 columns">  
   <h1>Items Details!</h1>
          <p><%= image_tag @item.avatar.url(:medium) %></p> 
          <strong>Id:</strong><%= @item.id %><br />
          <strong>Item:</strong><%= @item.item_name %><br />
          <strong>Status:</strong> <%= @item.item_status %><br />
          <strong>Asking Price:</strong> $ <%= @item.asking_price %><br />
          <strong>Notify Price:</strong> $ <%= @item.notify_price %><br />
          <strong>Listed On:</strong> <%= @item.listing_date %><br />
          <strong>Expiration On:</strong><%= @item.expiration_date %><br />
          <strong>Description:</strong> <%= @item.description %><br /><br />
    </div>

   
      <div class="medium- medium-6 columns">
           <br /> <br/><br /> <br />
  <h1><%= link_to 'Bid On This Item', bid_path(@item.id) %></h1>
  <%= link_to "Back to the list!", items_path %> 

  <!-- <%= link_to "Edit", edit_item_path(@item) %>     <br />      
  <%= link_to "Delete", @item, method: :delete, data: { confirm: 'Are you sure?' } %> -->
</div>
</div>
</div>