   <h1>Items!</h1>
    <div class="table-responsive">
      <table class="table table-hover">
          <tr class="active">
               <p><%= image_tag @item.avatar.url(:thumb) %></p>
              <td><%= @item.itemname %></td>
              <td><%= @item.item_status %></td>
              <td><%= @item.asking_price %></td>
              <td><%= @item.notify_price %></td>
               <td><%= @item.listing_date %></td>
              <td><%= @item.expiration_date %></td>
              <td><%= @item.description %></td>
              <td><%= @item.avatar %></td>
            <td><%= link_to "Edit", edit_item_path(@item) %>     </td>      
            <td><%= link_to "Delete", @item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
     </table>
<%= link_to "Back to the list!", items_path %> 
    </div>