   <div class="row">
          <div class="medium- medium-12 columns">
<div><h3><%= link_to "Add New Car", new_car_path %></h3></div>
    
<div class="show">
    <h3>Cars For Auction!</h3>       
    <div class="table-responsive">
    <table class="table table-hover">
        <tr class="info">
              <th>Make </th>
              <th>Model</th>
              <th>Year</th>
              <th>Trim</th>
              <th>Mileage</th>
              <th>Transmission</th>
              <th>Color</th>
              <th>Title</th>
              <th></th>
              <th></th>
              <th></th>
        </tr>

      <% @cars.each do |c| %>

        <tr class="active">
            <td><%= c.make %></td>
            <td><%= c.model %></td>
            <td><%= c.year %></td>
            <td><%= c.trim %></td>
            <td><%= c.mileage %></td>
            <td><%= c.transmission %></td>
            <td><%= c.color %></td>
            <td><%= c.title %></td>
            <td><%= link_to "Details", car_path(c) %></td>
    <!--         <td><%= link_to "Edit", edit_car_path(c) %>     </td>      
            <td><%= link_to "Delete", c, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
   
 <% end %>
   </table>

    </div>
</div>
</div>
</div>

