<div class="large-4 columns">.</div>
<div class="large-4 columns">
<h1>Add new car details</h1>

<%= form_for @car do |c| %>

     <%= c.label :make %>
     <%= c.text_field :make %>

     <%= c.label :model %>
     <%= c.text_field :model %>

     <%= c.label :year %>
     <%= c.text_field :year %>

     <%= c.label :trim %>
     <%= c.text_field :trim %>

     <%= c.label :mileage %>
     <%= c.text_field :mileage %>

     <%= c.label :transmission %>
     <%= c.text_field :transmission %>

     <%= c.label :color %>
     <%= c.text_field :color %>

     <%= c.label :title %>
     <%= c.text_field :title %>

<!-- <%= c.label :picture %>
     <%= c.file_field :picture %> -->
  
     <%= c.submit "Add New Car!" %>

<% end %>

    <%= link_to "Back to the list!", cars_path %>
    </div>
    <div class="large-4 columns">.</div>