   <div class="row">
      <div class="medium- medium-6 columns">
      <h1>Car Details!</h1>    
               <p><%= image_tag @car.avatar.url(:medium) %></p> 
               <strong>Make:</strong><%= @car.make %><br />
               <strong>Model:</strong><%= @car.model %><br />
               <strong>Year:</strong><%= @car.year %><br />
               <strong>Trim:</strong><%= @car.trim %><br />
               <strong>Mileage:</strong><%= @car.mileage %><br />
               <strong>Transmission:</strong><%= @car.transmission %><br />
               <strong>Color:</strong><%= @car.color %><br />
               <strong>Title:</strong><%= @car.title %><br /><br />
                <!--   <%= link_to "Delete this car!", @car, method: :delete, data: { confirm: 'Are you sure?' } %> -->
       </div>
  <div class="medium- medium-6 columns">
    <br /> <br/><br /> <br />
    <h1><%= link_to 'Bid On This Item', bid_path(@car.id) %></h1>    
    <%= link_to "Back to the list!", cars_path %>  
  </div>
</div>
