<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
      <ul class="title-area">
      <!-- Logo with RootLink -->
        <li class="name">
        <%= link_to(image_tag("../assets/logo.png", :alt => "logo", :title=> "Home", :width=>"45%", :height=>"auto"), "/") %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>
      </ul>

    <section class="top-bar-section">
      <!-- Signin & Logout Functionality -->
 				<ul class="right">
                    <% if current_user %>

                    <li class="active">
                    <%= link_to @current_user.username, @current_user %></li>

                    <li class="divider"></li>

                    <li class="active">
                    <%= link_to "Log Out", signout_path, method: 'delete'  %></li>
                    
                    <% else %>

                    <li class="active">
                    <%= link_to "Sign up", '/users/new' %></li>


                    <li class="divider"></li>

                    <li class="active">
                        <a data-reveal-id="myModal" href="#">Sign in</a>

                        <div class="tiny reveal-modal" data-reveal="" id="myModal">
                            <h2 style="text-align: center;"> Sign In ! </h2>
                            <%= form_for(:session, url: sessions_path, data: {abide: ""}) do |f| %>
                            
                            <div class="email-field">
                                <label>Email
                                <%= f.text_field :email, placeholder: 'Email', required:"", id: "email", pattern: "email" %>
                                <small class="error">Enter your email address.</small>
                            </div>

                            <div class="password-field">
                                <label>Password
                                <%= f.password_field :password, placeholder: 'Password', required:"", id: "password" %>
                                <small class="error">Enter your password.</small>
                            </div>
                            <%= f.submit "Sign In!", class: "button"%>  <%= link_to "New User!", 'users/new' %>   <%= link_to "(forgot password)", new_password_reset_path %>
                            <% end %>
                        </div>
                    </li><% end %>
                    <li class="has-dropdown">
                        <a>Menu +</a>
                        <ul class="dropdown">
                            <li class="active">
                            <%= link_to "Classified", items_path %></li>
                            <li class="active">
                            <%= link_to "Auction Cars", cars_path %></li>
                            <li class="active">
                            <%= link_to "Opinion Poll", polls_path %></li>
                            <li class="active">
                            <%= link_to "Contact Us", contactus_path %></li>
                            <li class="active">
                            <%= link_to "About Us", 'contactus#about' %></li>
                        </ul>
                    </li>
                </ul>
  </section>
</nav>